body {
  background-color: #fbf2d5
}

a {
  color: #7fa99b;
}

.container {
  margin: 50px auto;
  max-width: 600px;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #7fa99b;
  
}

h3 {
    font-weight: lighter;
    margin-bottom: 50px;
    margin-top: 0 auto;
    text-align: center;
    font-family: "Inconsolata", monospace;
}

.input-container {
  font-family: "Inconsolata", monospace;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px 30px;
}

form {
  display: flex;
}

.hint {
  font-family: "Inconsolata", monospace;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.input-container {
  display:flex;
  flex-direction:column;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 10px;
  background: #394a51;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.recipe {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 20px;
  margin-top: 30px;
  background-color: #fff;
  line-height: 2;
  border-left: 3px solid #394a51;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  display: block;
}

.hidden {
  display: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
}